body {
  overflow-x: hidden;
  padding-top: 70px;
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/raleway.medium.ttf');
}

@font-face {
  font-family: 'Raleway-bold';
  src: url('../font/raleway.bold.ttf');
}

p {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial';
    /*font-family: 'Raleway';*/

}

.paragraph > p {
  line-height: 25px;
  text-align: justify;
}

a {
  color:black;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial';

}

a:hover {
  color: #999999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Raleway-bold', 'Helvetica Neue', 'Helvetica', 'Arial';

}

section {
  padding: 100px 0;
}

html {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}


section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Raleway, Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

@media (min-width: 468px) {
  section {
    padding: 0 0;
  }
}

.btn {
  font-family: 'Raleway, Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #212529 !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Raleway, Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


.img_feature {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img_feature:hover {
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

header.header_company{
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/home/header.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



section.section_1_bella {
  background-image: url("/website_custom/static/src/img/home/fondo_mask1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: top;
  background-size: 100% 85%;
  margin-top: 120px;
  /*padding-top: 200px;*/
  /*padding-bottom: 400px;*/
}

.section1-text > h1 {
  animation-duration: 3s;
  animation-name: slidein;
  /*animation-iteration-count: infinite;*/
}

.section1-text > p {
  animation-duration: 3s;
  animation-name: slidein;

  /*animation-iteration-count: infinite;*/
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

header.masthead .intro-text {
  padding-top: 300px;
  padding-bottom: 400px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;eader-bg.jpg);
  font-style: italic;
  /*line-height: 22px;*/
  margin-bottom: 25px;
  font-family: 'Raleway, Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  /*line-height: 50px;*/
  margin-bottom: 25px;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 868px) {
  header.masthead .intro-text {
    padding-top: 340px;
    padding-bottom: 440px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 30px;
    font-style: italic;
    /*line-height: 40px;*/
    margin-bottom: 25px;
    font-family: 'Raleway, Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    /*line-height: 75px;*/
    margin-bottom: 50px;
    font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.navbar-header > a {
  color: silver; 
}


.creative {
  margin-top: 200px;
}

.demo {
  margin-top: 100px;

}

.shadow {
  -webkit-box-shadow: -15px 10px 5px -2px rgba(235,235,235,1);
  -moz-box-shadow: -15px 10px 5px -2px rgba(235,235,235,1);
  box-shadow: -15px 10px 5px -2px rgba(235,235,235,1);
}

.email-input {
  margin-top: 200px;
  border: solid 5px blue;

}

.email-bottom {
  margin-top: 200px;
  border: solid 5px blue;

}

.join_text {
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 200px;
}

.feature_home{
  min-width: 100%;
  margin: 10px 0;
  text-transform: none;


}
.feature-heading {
  margin: 15px 0;
  text-transform: none;
}

#features{
  min-height: 14%;
  margin-top: 150px;
}

.feature_hr {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.feature_operations {
  text-align: center;
  color: black;
  background-image: url("/website_custom/static/src/img/feature/feature_2.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.feature_finance {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_3.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.feature_legal {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_4.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.feature_marketing {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_5.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.feature_thecnology {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_6.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.feature_sale {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/feature/feature_7.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#section_3 {
  background-image: url("/website_custom/static/src/img/home/section_3_piso.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 100px;
  padding-bottom: 50px;
  background-position-y: bottom;
  background-size: 1500px;
}


.icon_section_3_2 {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/home/icon_section_3_2.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.section_4 {
  position: relative;
  background-image: url("/website_custom/static/src/img/home/section_4_11_4.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-size: 1150px;*/
  background-position-y: bottom;
  height: 1500px;
  background-color: #c0c0c054;

}



.section_4_1_1 {
  text-align: center;
  color: black;
  background-image: url("/website_custom/static/src/img/home/section_4_1_1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding: 150px;
  top: -15em;
  right: -46em;

}



.section_4_cell {
  text-align: center;
  color: black;
  background-image: url("/website_custom/static/src/img/home/cell_phone.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 30em; 
  top: 10em;
  right: 30em;
  max-width: 34%;
  padding-bottom: 19em;
}

.section_4_cell_2 {
  text-align: center;
  color: black;
  background-image: url("/website_custom/static/src/img/home/cell_phone_2.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center ;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  padding-top: 30em; 
  top: 12em;
  right: 30em;
  max-width: 35%;
  padding-bottom: 19em;
  height: 1300px;
}

/*.section_5 {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/home/section_5.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}*/

.section_4_2 {

}

.img_cell {
  height: 300px;
}

.section_5 {
  background-color: black;
  height: 500px;
}



.service-heading {
  margin: 15px 0;
  text-transform: none;
}




section.human_resource_section {
  /*text-align: center;*/
  /*color: white;*/
  /*background-image: url("/website_custom/static/src/img/human_resource/section_human_resource.jpg");*/
  background-color: silver;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10em;
  padding-bottom: 10em;

}

.human-resource-heading{
  margin-top: 15px 0;
  text-transform: none;
}

.human_resource_sect2 {
  margin-top: 100px;

}

.section_slide {
  position: relative;
  background-image: url("/website_custom/static/src/img/home/section_4_11_4.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: bottom;
  height: 900px;

}


section.operations_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/operations/group_operation_1_2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6em;
  padding-bottom: 28em;
}


/*

Technology

*/

section.technology_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/technology/section_technology.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 18em;
  padding-bottom: 15em;

}

.section_4_technology {
  text-align: center;
  color: white;
  background-image: url("/website_custom/static/src/img/home/section_4_11_3.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 310px;

}


.avaliable_modules_div{
  margin-right: -2em;
  padding: 1.4em;
  max-width: 90%;
}

/*

Marketing

*/

section.marketing_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/marketing/section_marketing.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 17em;
  padding-bottom: 18em;
}


/*

Finance

*/

section.finance_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/finance/section_finance.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 28em;
  padding-bottom: 21em;
}


/*

Sales

*/

section.sales_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/sales/section_sales.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 21em;
  padding-bottom: 23em;
}


/*

Legal

*/

section.legal_section {
  text-align: center;
  color: #999999;
  background-image: url("/website_custom/static/src/img/legal/section_legal.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 23em;
  padding-bottom: 16em;
}





.input_get_statet {
  text-align: center;
  width: 55%;
  height: 45px;
  border-radius: 25px;
  border: 0px;
}


#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Raleway, Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Raleway, Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  /*line-height: 14px;*/
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    /*line-height: 18px;*/
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    /*line-height: 26px;*/
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("/theme_nice_bootstrap/static/src/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  text-align: center;
}



.navbar-nav > li > a {
  color: silver;
}

section.footer > a {
  color: black;
}

footer #footer {
    padding-top: 10em;
}



footer span.copyright {
  font-size: 90%;
  /*line-height: 40px;*/
  text-transform: none;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  /*line-height: 40px;*/
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Raleway, Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  /*line-height: 40px;*/
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}


/*
 GRID 5 COLUMNAS

*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
  position: relative;
  min-height: 1px; 
}
.col-xs-
{
  width: 20%;
  float: left;
}

?
@media (min-width: 768px)
{
  .col-sm-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px)
{
  .col-md-15
  {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px)
{
  .col-lg-15
  {
    width: 20%;
    float: left;
  }
}